PORT=8000
MONGODB_URI=mongodb://localhost:27017/ddd_task
KAFKA_BROKERS=localhost:9092
KAFKA_CLIENT_ID=post-service
KAFKA_GROUP_ID=post-group

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM="DDD Microservice <no-reply@dddtask.com>"

DISCORD_WEBHOOK_URL=skip
